$h1-font-size: $size-40;
$h2-font-size: $size-36;
$h3-font-size: $size-32;
$h4-font-size: $size-20;
$h5-font-size: $size-16;
$h6-font-size: $size-12;

.heading {
  &-1 {
    font-size: $h1-font-size;
  }
  &-2 {
    font-size: $h2-font-size;
  }
  &-3 {
    font-size: $h3-font-size;
  }
  &-4 {
    font-size: $h4-font-size;
  }
  &-5 {
    font-size: $h5-font-size;
  }
  &-6 {
    font-size: $h6-font-size;
  }
}